%div.title Payment Sample Application
.main
  .ul
    .li 
      %a{ :href => "/payment" } Payment Redirect
    .li 
      %a{ :href => "/payment_demo" } Payment Demo Redirect - Shows Redirect Values
    .li 
      %a{ :href => "/subscription" } Subscription Redirect
    .li 
      %a{ :href => "/transactions" } Transaction List
    .li 
      %a{ :href => "/notifications" } Notifications
