body {
	width: 100%;
}

.li
{
	width: 90%;
	font-size: 24px;
	color: red;
}

div.title
{
	width: 95%;
	font-size: 36px;
	color: green;
}

div.main
{
	width: 95%;
	font-size: 36px;
	color: green;
}

div.mainBox
{
	width: 99%;
	font-size: 36px;
	color: green;
}

div.transactionList
{
	width: 99%;
	font-size: 8px;
	color: blue;
}

td.transactionList
{
	font-size: 12px;
	color: teal;
}

#main
{
	width: 320px;
	font-size: 18px;
	color: blue;
